<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Autor de la práctica
  </h1>
  <p>Manuel Rodríguez de la Coba</p>
  <img "src=/images/Yo.jpg" width="240"/>
</body>

</html>